.img {
    position: absolute;
    width: 6rem;
    height: 6rem;
    z-index: 12;

}

.food1 {
    top:58%;
    left: 27%;
}
.food2 {
    top: 58%;
    left: 40%;
}

.food3 {
    top: 58%;
    left: 53.5%;
}

.food4 {
    top: 58%;
    left: 67%;
}