@import '../sass/global';

.items {
    @include fullScreen($h: auto);
    padding: 2%;
    overflow-x: hidden;

    .crdParent {
        .card {
            @include flex(flex-start, flex-start);
            gap: 1rem;

            h1 {
                font-weight: 600;
                font-size: 1.3rem;
            }
            p {
                font-size: 1.2rem;
            }
        }
    }
}