@import "./../../sass/global";

.selection {
  @include fullScreen();
  @include flex(center, center, $fd: column);
  position: relative;

  .title {
    position: absolute;
    text-transform: capitalize;
    top: 20%;
    left: 2%;
    h1 {
      font-family: "Inter", sans-serif;
      letter-spacing: -2px;
      font-weight: 600;
      font-size: 3rem;

      @include media(tablet) {
        font-size: 2.5rem;
      }

      @include media(mobile) {
        font-size: 3rem;
      }
    }
  }
  .portions {
    width: 100%;
    height: 50%;
    padding: 10px 3%;

    .box {
      width: 100%;
      height: 100%;
      @include flex(flex-start, center);
      padding: 1.5% 6%;
      gap: 2rem;
      row-gap: 0rem;
      .imgContainer {
        width: 6rem;
        height: 6rem;
        background-color: black;
        @include flex(flex-start, flex-start, column);
        border-radius: 100%;
        position: relative;
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
          .popUp {
            transform: scale(1);
          }
        }
        @include media(tablet, mobile) {
          width: 5rem;
          height: 5rem;
        }
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }

        .popUp {
          position: absolute;
          z-index: 2;
          @include flex();
          width: 10rem;
          height: 3.5rem;
          background-color: rgba($color: #ffffff, $alpha: 0.6);
          backdrop-filter: blur(3px);
          top: -60%;
          left: -30%;
          transform: scale(0);
          border-radius: 10px;
          transition: 0.2s all cubic-bezier(0.68, -0.55, 0.265, 1.55);
          h1 {
            // font-family: var();
            font-weight: 600;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
  }
}
