@import "./../../sass/global";

.modal {
  position: absolute;
  right: 2%;
  top: 10px;
  width: 400px;
  // height: auto;
  max-height: 300px;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 8px #11111110;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: 0.3s min-height ease-in-out;

  @include media(tablet, mobile) {
    width: 300px;
  }

  .top-of-modal {
    @include flex($jc: space-between, $al: center);
    width: 100%;
    padding: 10px 15px 10px 10px;
    position: sticky;
    cursor: pointer;
    top: 0;
    background-color: #fff;
    @include media(tablet, mobile) {
      font-size: $sm;
      padding: 12px 10px 12px 10px;
    }

    h3 {
      color: grey;
      font-weight: 400;
      font-size: $md;

      @include media(tablet, mobile) {
        font-size: $sm;
      }
    }

    &.down {
      bottom: 0;
    }

    .close-btn {
      cursor: pointer;
    }

    .clear {
      cursor: pointer;
      padding: 0px 0px 0px 10px;
      transition: 0.3s all cubic-bezier(0.23, 1, 0.32, 1);
      &:hover {
        transform: scale(0.9);
      }
    }
    .proceed {
      cursor: pointer;
      padding: 0px 8px;
      font-size: 16px;
      font-weight: 400;
      background-color: $primary;
      color: white;
      border-radius: 5px;
      border: none;
      outline: none;
      @include flex();
      gap: 0.3rem;

      @include media(tablet, mobile) {
        font-size: 14px;
      }
      .tolTip {
        display: none;
      }

      &.notAllowed {
        cursor: not-allowed;
        opacity: 0.5;
        position: relative;

        .tolTip {
          position: absolute;
          inset: 0;
          width: 100%;
          font-size: 14px;
          background: $primary;
          border-radius: 5px;
          @include flex;
          opacity: 0;
          z-index: -1;
          transition: 0.2s all ease;
          color: $white;
        }

        &:hover {
          transform: scale(1);
          .tolTip {
            opacity: 1;
            z-index: 1;
          }
        }
      }
    }
  }

  #form {
    .container {
      height: 100%;
      width: 100%;

      label {
        margin-left: 10px;
        margin-right: 10px;
      }

      .inputField {
        width: 100%;
        margin: 10px;
        height: 2rem;
        background-color: #eee;
        border-radius: 10px;
        outline: none;
        border: none;
        padding: 10px 3%;
        font-weight: 400;
        font-size: 1.1rem;
        resize: none;
        margin-top: 2px;
      }
    }
  }

  .modal-items {
    height: 100%;
    width: 100%;
    padding-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    .modal-item {
      @include flex($jc: space-between, $al: center);
      // background-color: burlywood;
      border-bottom: 1px solid #eee;
      padding-left: 15px;
      padding-right: 15px;

      @include media(tablet, mobile) {
        padding-left: 8px;
        padding-right: 8px;
      }

      img {
        height: 60px;
        width: 60px;

        @include media(tablet, mobile) {
          height: 40px;
          width: 40px;
        }
      }

      .modal-item-texts {
        flex: 1;
        @include flex($jc: space-between, $al: start, $fd: column);
        gap: 4px;
        height: 100%;
        font-size: 20px;
        font-weight: 500;
        padding-left: 10px;
        padding-right: 20px;

        @include media(tablet, mobile) {
          font-size: $sm;
          padding-top: 2px;
          padding-left: 6px;
          padding-right: 10px;
        }

        .modal-item-quantity {
          font-size: 12px;
          user-select: none;
          color: grey;
        }
      }

      .modal-item-btns {
        @include flex($jc: flex-start, $al: flex-start);
        width: 20%;
        gap: 12px;

        @include media(tablet, mobile) {
          gap: 8px;
        }
      }

      .modal-item-btn {
        @include flex($jc: center, $al: center);
        cursor: pointer;
        padding: 2px;
        font-size: medium;
        border-radius: 3px;
        color: $primary;

        .min {
          color: $grey;
          &:hover {
            background-color: $primary;
            color: $white;
          }
        }
        &:hover {
          background-color: $primary;
          color: $white;
        }
      }
    }
  }
}
